<div class="jumbotron mt-4">
  <h1 class="display-4">Proyecto 1 Software Avanzado</h1>
  <p class="lead">Microservicio Aseguradora/Inventario</p>
  <hr class="my-4">
  <p>
    Debido a que se requiere de una plataforma web para realizar el registro de
    inventario por parte de los usuarios con rol de ajustadores para poder ingresar todos los
    datos del vehículo por parte de una de las empresas de seguro, adicionalmente la
    subastadora debe de publicar el estado del vehículo evaluado por el ajustador, publicar las
    fotos en la subasta etc.
  </p>
</div>